parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    parallel:
        jobSize: 5
        maximumNumberOfProcesses: 8
    paths:
        - src

    excludePaths:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'
        - 'src/DependencyInjection/Configuration.php'

        # Test dependencies
        - 'tests/Application/app/**.php'
        - 'tests/Application/src/**.php'
        - 'tests/Application/var/cache/'

    ignoreErrors:
        - '/Parameter #1 \$configuration of method Symfony\\Component\\DependencyInjection\\Extension\\Extension::processConfiguration\(\) expects Symfony\\Component\\Config\\Definition\\ConfigurationInterface, Symfony\\Component\\Config\\Definition\\ConfigurationInterface\|null given\./'
